body {
    background: linear-gradient(to bottom left, #126E82, #51C4D3, #126E82);
    color: whitesmoke;
    margin: 0;
    font-family: 'Sora', sans-serif;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

nav {
    margin: 0;
    z-index: 10;
    background-color: #132C33;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0%;
    width: 100%;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 200;
}

nav a:hover {
    color: #51C4D3;
}

main {
    margin-top: 30vh;
    padding-left: 20%;
    padding-right: 20%;
}

#about {
    margin-bottom: 15vh;
}

#about > p {
    font-size: 1.2rem;
    font-weight: 200;
    color: #132C33;
}

#about h1 {
    font-size: 3.5rem;
}

#about-IBuild {
    color: #D8E3E7;
}

#about-description {
    width: 60%;  
}

.projects-header, .contact-header {
    font-weight: 200;
    padding: .2rem;
    margin-bottom: 5vh;
    border-bottom: 1px solid #132C33;
}

.project-container {
    margin-bottom: 12vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.project-img {
    max-width: 100%;
}
.project-img > a > img:hover {
    box-shadow: 3px 3px #0e0e0e;
    transform: scale(1.1);
    cursor: pointer;
}

.project-details {
    width: 100%;
    margin-left: 8vw;
}

.project-title h2 {
    margin-top: 0;
}

.project-technologies {
    color: #132C33;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: square;
}

.project-technologies > li {
    margin: 0 1vw;
}

.project-description {
    font-weight: 200;
    text-align: justify;
    margin-bottom: 10px;
}

.project-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 6px;
}

.project-links div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 6px;
}

.project-links a {
    padding: 0;
}

.project-links div .link-p {
    font-size: 12px;
    margin: 0;
}

.project-links a i {
    font-size: 32px;
}

#contact {
    width: 100%;
    margin-bottom: 5vh;
}

#contact .material-icons {
    font-size: 5rem;
    color: #132C33;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-content > p {
    font-weight: 200;
    width: 50%;
    text-align: center;
    line-height: 1.6;
}

@media only screen and (max-width: 600px) {
    main {
        margin-top: 15vh;
        padding: 1rem;
    }

    #about {
        padding-left: 5vw;
    }

    #about h1 {
        font-size: 3rem;
    }

    #about-description {
        width: 85%;
    }

    #projects {
        width: 90vw;
    }

    .projects-header {
        margin: 0 0 5vh 0;
    }

    .project-container {
        display: block;
    }

    .project-details {
        margin: 0;

    }

    .project-technologies {
        justify-content: flex-end;
    }

    .project-technologies > li {
        margin-left: 5vw;
    }

    .project-img > a {
        padding: 0;
    }

    .project-img > a > img:hover {
        transform: none;
    }
  }